# maven/gradle ignore
target/
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz
gradle/
.gradle/
/build

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
/out

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig

# local
src/main/resources/application-local.properties
src/main/resources/application-company.properties
src/main/resources/tools/generatorConfig.xml

